/* Variables */
.section{

}
.btn{
color:#121212;
}
span {
color: rgba(255, 255, 255, 0.40);
font-family: "DM Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.28px;
}
/* Bases */
body {
  font-family: sans-serif;
  color: #ffffff;
  background: var(--black, #121212);
}

.main{

}

/* Reset */
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* Header */
.header {
    margin: 20px 100px 0 100px;

}
.nav{

}
.logo{

}
.logo-icon{

}
.nav-menu{
display: flex;
}
.nav-menu-iteam{

}
.header-btn{

}
/* Hero */
.hero section{

}
.hero-title{

}
.hero-users{

}
.hero-list{

}
.hero-list-item{

}
.hero-list-img{

}
.hero-list-item{

}
.hero-users-text{

}
.hero-users-icon{

}
.hero-reviews{

}
.star{

}
.reviews{

}
.quantity-reviews{

}
.hero-banner{

}
/* Promo */
.promo{

}
.promo-text{

}
/* About */
.about{

}
.about-title{

}
.about-block{

}
.about-img{

}
.about-text{
    
}
/* Our Courses */
.courses{

}
.courses-title{

}
.courses-text{

}
.courses-list{

}
.courses-list-iteam{

}
.courses-number{

}
.courses-link{

}
.courses-link-icon{

}
.courses-type{

}
.courses-desc{

}

/* Our Mentors */
.mentors{

}
.mentors-title{

}
.mentors-list{

}
.mentors-item{

}
.mentors-avatar{

}
.mentors-name{

}
.mentors-name{

}
.mentors-text{

}
.mentors-item{

}
/* Sign Up */
.sign-up {

}
.sign-up-title{

}
.sign-up-text{

}
.sign-up-form{

}
.sign-up-input{

}
.sign-up-texarea{

}
.sign-up-btn{

}
.sign-up-link{

}
.sign-up-img{

}
/* Reviews */
.reviews{

}
.reviews-title{

}
.reviews-list{

}
.reviews-item{

}
.reviews-author{

}
.reviews-avatar{

}
.reviews-name{

}
.reviews-rank{

}
.reviews-rating-stars{

}
.reviews-text{

}
/* Footer */
.footer{

}
.footer-logo{

}
.footer-contacts{

}
.footer-contacts-tel{

}
.footer-contacts-address{

}
.footer-list{

}
.footer-item{

}
.footer-link{

}
.footer-menu{

}
.menu-iteam{

}
.menu-item-chapter{

}
.footer-form{

}
.footer-input{

}
.footer-btn{

}
.footer-policy{

}
.footer-policy-item{

}
.footer-copyright{

}