/* Variables */
.section {
}
.btn {
  color: #121212;
}
span {
  color: rgba(255, 255, 255, 0.4);
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}
/* Bases */
body {
  font-family: sans-serif;
  color: #ffffff;
  background: var(--black, #121212);
}

/* Main */
.main {
}
.container {
  width: 1240px;
  margin: 0 auto;
  outline: 2px solid red;
  outline-offset: -2px;
}

/* Reset */
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* Header */
.header {
  
}
.nav {
}
.logo {
  float: left;
}
.logo-icon {
}
.nav-menu {
  display: flex;
  gap: 40px;
}
.nav-menu-iteam {
}
.header-btn {
  float: right;
}
/* Hero */
.hero section {
}
.hero-title {
  padding: 80px 130px 20px 50px;
  color: #fff;
  font-family: 'DM Sans';
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 68px; /* 106.25% */
  letter-spacing: -2.56px;
}
.hero-title-span {
  color: #bea69e;
  font-family: 'DM Sans';
  font-size: 64px;
  font-style: italic;
  font-weight: 400;
  line-height: 68px;
  letter-spacing: -2.56px;
}
.hero-users {
}
.hero-list {
  display: flex;
}
.hero-list-item {
}
.hero-list-img {
}
.hero-list-item {
}
.hero-users-text {
}
.hero-users-icon {
}
.hero-reviews {
}
.star {
}
.reviews {
}
.quantity-reviews {
}
.hero-banner {
}
/* Promo */
.promo {
}
.promo-text {
}
/* About */
.about {
  margin: 150px 100px 0 100px;
}
.about-title {
  margin: 0;
  color: #fff;
  font-family: 'DM Sans';
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 54px; /* 112.5% */
  letter-spacing: -1.92px;
}
.about-title-us {
  padding: 0;
  margin: 0;
  color: #bea69e;
  font-family: 'DM Sans';
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -1.92px;
}
.about-block {
  display: flex;
  gap: 50px;
}
.about-img {
  padding: 0;
}
.about-wrapper {
  display: flex;
  gap: 40px;
}
.about-text {
  margin: 0;
  color: var(--white, #fff);
  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.32px;
}
/* Our Courses */
.courses {
}
.courses-title {
}
.courses-text {
}
.courses-list {
}
.courses-list-iteam {
}
.courses-number {
}
.courses-link {
}
.courses-link-icon {
}
.courses-type {
}
.courses-desc {
}

/* Our Mentors */
.mentors {
}
.mentors-title {
}
.mentors-list {
}
.mentors-item {
}
.mentors-avatar {
}
.mentors-name {
}
.mentors-name {
}
.mentors-text {
}
.mentors-item {
}
/* Sign Up */
.sign-up {
}
.sign-up-title {
}
.sign-up-text {
}
.sign-up-form {
}
.sign-up-input {
}
.sign-up-texarea {
}
.sign-up-btn {
}
.sign-up-link {
}
.sign-up-img {
}
/* Reviews */
.reviews {
}
.reviews-title {
}
.reviews-list {
}
.reviews-item {
}
.reviews-author {
}
.reviews-avatar {
}
.reviews-name {
}
.reviews-rank {
}
.reviews-rating-stars {
}
.reviews-text {
}
/* Footer */
.footer {
}
.footer-logo {
}
.footer-contacts {
}
.footer-contacts-tel {
}
.footer-contacts-address {
}
.footer-list {
}
.footer-item {
}
.footer-link {
}
.footer-menu {
}
.menu-iteam {
}
.menu-item-chapter {
}
.footer-form {
}
.footer-input {
}
.footer-btn {
}
.footer-policy {
}
.footer-policy-item {
}
.footer-copyright {
}
